body > * {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 24px;
    font-family: sans-serif;
    color: #666;
    padding: 0 24px;
}
input, textarea {
    border: 1px solid #333;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 24px;
}
input:focus, textarea:focus {
    box-shadow: 0 0 0 1px #037DBC;
    border-color: #037DBC;
    outline: none;
}
label {
    display: inline-block;
    margin-bottom: 24px;
    font-weight: bold;
    margin-right: 6px;
    color: #333;
    min-width: 160px;
    padding-top: 6px;
}
label, input {
    float: left;
}
input + label {
    clear: both;
}
/* Cheat a line break */
input:after {
    content: "";
    display: block;
}
button {
    padding: 6px 12px;
    background: #fff;
    outline: none;
    appearance: none;
    border: 2px solid #037DBC;
    border-radius: 4px;
    color: #037DBC;
    font-weight: bold;
}
button:hover, button:focus, button:active {
    background-color: #037DBC;
    color: #fff;
}
button[type='button'] {
    border-color: #666;
    color: #333
}
button[type='button']:hover, button[type='button']:focus, button[type='button']:active {
    border-color: #037DBC;
    color: #037DBC;
    background: #fff;
}
.theme-switch-wrapper {
    display: none;
}
